html {
  background-color: hotpink;
  display: flex;
  text-align:center;
}
h1 {
  background-color: dodgerblue;
  
}
p{
  background-color: blueviolet;
}
.text{
  font-family: Papyrus, Copperplate, Fantasy;
}
video{
  width:68%;
}
image{
  width:95
