html {
  background-color: hotpink;
  display: flex;
  justify-content:center;
}
h1 {
  background-color: blue;
  
}
p{
  background-color: purple;
}
.text{
  font-family: Papyrus, Copperplate, Fantasy;
}
  
